body {background-color: hsl(47, 88%, 63%); 
  color: hsl(0, 0%, 7%);

  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-style: normal;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: 1px solid black;
    padding: 16px;
    box-shadow: 10px 10px rgba(0, 0, 0, 1);
    width: 338px;
}

img {
    border-radius: 10px;
    width: fit-content;
}

p {
    font-size: 14px;
}

#tag {
    background-color:hsl(47, 88%, 63%);
    border-radius: 4px;
    font-weight: 700;
    width: fit-content;
    padding: 4px 12px;
}

#publishDate {
    font-weight: 400;
}

#heading {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
}

#heading:hover {
    color:hsl(47, 88%, 63%)
}

#description {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
}

#greg {
    height: 32px;
}

.author {
    font-weight: 800;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.attribution { font-size: 11px; }
.attribution a { color: hsl(228, 45%, 44%); }
